#cloud-config
#
# ACHTUNG: es wird die normale Shell (sh) und nicht bash verwendet!
#
# Installation weiterer Software 
packages:
  - nginx

# free form Befehle
runcmd:
# Password setzen und Zugang mittels Password via SSH freischalten
 - sudo bash -c 'chpasswd <<<ubuntu:fakeshit'
 - sudo sed -i -e 's/PasswordAuthentication no/PasswordAuthentication yes/' /etc/ssh/sshd_config
 - sudo systemctl restart sshd
 
 - sudo apt update
 - sudo apt install -y apache2 php libapache2-mod-php vsftpd markdown
 - sudo snap install powershell --classic

# Introseite (= README dieses Repository)
 - bash -x /opt/lernmaas/helper/intro

 - sudo wget https://raw.githubusercontent.com/lmp-ubuntu/startpage/main/index.html && sudo cp index.html /var/www/index.html
